.body{
    background: url(../../Images/Image/Rectangle\ 1.png);
   
}
.bg-style{
    background-color: rgba(0, 0, 0, 0.7);
}
.body-style{
    display: flex;
    color: white;
      
}
.form-style{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 2%;
    margin-left: 18%;
}
.btn-style{
    margin-top: 2%;
}