
.body{
    background: url(../../Images/Image/Rectangle\ 1.png);
    position: relative;
    width: 100%;
    height: 100%;
}
.bg-style{
    background-color: rgba(0, 0, 0,0.6);
    display: flex;
    padding: 10%;
}
.color-body{
    color: white;
}
.img-body{
    display: flex;
}
.img-style{
    width: 80%;
}
